#recuadro1 {
    border-radius: 20px;
    background-color: #f00;
    width: 200px;
    padding: 10px;
    transition: width 1s;
    color: white;
}

#recuadro1:hover {
    width: 300px;
    background-color: #f00;
}
        
#recuadro1 h3 {
    text-align: center;
}

#recuadro1 p {
    text-align: justify;
}

body {
    background: white;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    margin-top: 30px;
    text-decoration: none;
    font-weight: bold;
    color: #192dda;
}