#recuadro1 {
    transform: rotate(15deg) scale(0.9,0.6) translate(10px,10px);
    border-radius: 20px;
    background-color: #5aff13;
    width: 200px;
    padding: 10px;
}
#recuadro1 h3 {
    text-align: center;
}
#recuadro1 p {
    text-align: justify;
}
body {
    background: white;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}